<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div class="col-md-12">
  <div class="row">
    <div class="card" class="col-md-3">
      <h2>User Name</h2>
      <p>Test Paragraph</p>
    </div>
    <div class="card" class="col-md-3">
      <h2>Password</h2>
      <p>Test Paragraph</p>
    </div>
    <div class="card" class="col-md-3">
      <h2>Recent Posts</h2>
      <p>Test Paragraph</p>
    </div>
  </div>
</div>

</div class="card" class="col-md-3" >
<h2>SHOW ME WHAT YOU GOT</h2>