<div class="row">
  <div class="col-md-3" style="background-color: #003366; height: 100vh;">
  </div>
  <div class="col-md-6" style="background-color: #CCC; height: 100vh;">
  </div>
  <div class="col-md-3" style="background-color: #003366; height: 100vh;">
  </div>
</div>
